:root {
    --blockquote: rgb(119, 119, 119);
}
.who-is-crt {
    background-color: #ffffff;
    padding: 40px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.crt-building {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.crt-building img {
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.mv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.mv h4 {
    font-weight: 700;
    font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}
.mv blockquote {
    max-width: 600px;
    color: var(--blockquote);
}

.crt-now-then {
    padding: 40px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}
#crtNowThen {
    text-align: center;
}
.crt-now-then blockquote {
    margin-top: 40px;
    text-align: justify;
    text-indent: 30px;
    color: var(--blockquote);
    line-height: 25px;
}


@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {
    .crt-building img {
        width: 100%;
    }
}
