::after, ::before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #eeeeee !important;
}
.student-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.org {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.org img {
    width: 100px;
}
.org #orgName {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 1rem;
}
.org #crtEmail {
    font-size: .9rem;
    margin-top: -10px;
}
.title {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.title h1 {
    font-size: 30px;
}
.title i {
    font-size: 30px;
}
#textInput, #passwordInputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}
#textInput input, #passwordInputContainer input{
    padding-left: 50px;
    height: 40px;
    font-size: 14px;
}

#textInput input:focus {
    outline: 1px solid blue; /* Adds a blue outline when the input is focused */
}
#passwordInputContainer input:focus {
    outline: 1px solid blue; /* Adds a blue outline when the input is focused */
}

#passwordInputContainer #label, #textInput #label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2b2b2b;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#togglePassword {
    position: absolute;
    right: 10px; /* Adjust based on your layout */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 35px;
    background-color: white;
    width: 400px;
}
.form-btn {
    margin-left: auto;
}
form button {
    padding: 5px 10px;
    width: 100px;
    border: none;
    background-color: #00319c;
    color: white;
    font-weight: 600;
    transition: all .2s ease-in-out;
}
form button:hover {
    background-color: #006eff;
}

@media only screen and (max-width: 576px) { 
    form {
        width: 320px;
        padding: 35px;
        gap: 1.7rem;
    }
    .title h1 {
        font-size: 25px;
    }
}